@import url(http://fonts.googleapis.com/css?family=Roboto:300|Fjalla+One);

body {
    font-family: "Roboto";
    margin: 0;
    background: #eee;

    background: linear-gradient(to bottom, #f8f8f8 0%, #ddd 100%); /* W3C */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

#main, #footer {
    width: 750px;
    margin: 20px auto 20px auto;
}

#main {
    padding: 20px;
    background-color: white;
    box-shadow: 8px 8px 20px #ccc;
}

#header {
    margin: 0 48px 32px 48px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
/*    text-align: center; */
}

table.vamonos {
    /* .default-box-shadow(@shadow-color); */
    border: 1px solid #888;
}

table.vamonos > tbody > tr > td {
    border: 1px solid #888;
}

#header h1 {
    font-family: "Fjalla One";
    font-size: 54px;
    margin: 4px;
    text-align: center;
    color: #d85a1a;
    text-shadow: 2px 2px #ddd;
}

#header h4 {
    font-weight: normal;
    text-align: center;
    color: #888;
    margin: 4px;
}

.table-of-contents {
    margin: 20px 0 0 0;
}
#header .table-of-contents li.active-chapter {
    font-weight: bold;
    color: black;
}
#header .table-of-contents li {
    color: #888;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fjalla One";
}

h1 {
    font-size: 24px;
    margin: 36px 0 4px 0;
}

h2 {
    font-size: 18px;
    margin: 36px 0 4px 0;
}

h3 {
    font-size: inherit;
    color: #555;
}



code {
    background: #eee;
    border: 1px solid #ddd;
}


pre {
    box-shadow: 2px 2px 10px #ccc;
    margin: 8px 20px 8px 20px;
    background: #eee;
    border: 1px solid #aaa;
    padding: 8px;
    overflow-x: auto;
    text-align: left;
}
pre code {
    background: inherit;
    border: none;
}


#footer {
    text-align: center;
    color: #555;
    font-size: 12px;
}

a {
    color: #d85a1a;
}
a:visited {
    color: #80350F;
}

.next-page {
    margin-top: 36px;
    padding-top: 12px;
    border-top: 1px solid #ccc;
    text-align: right;
}

ol ol {
    list-style-type:lower-alpha;
}

.construction {
    color: #d85a1a;
}


/**************************/

.viz-container {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: 4px;
    border: 1px solid black;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #aaa;
    background: white;
}

#viz-controls {
    display: inline-block;
}

blockquote {
    text-align: center;
    margin: 8px 20px 8px 20px;
    background: #DFECF2;
    border-radius: 60px;
    padding: 18px;
}
blockquote p {
    text-align: left;

}

table.fiftyfifty {
    width: 100%;
}
table.fiftyfifty > tbody > tr > td {
    width: 50%;
    text-align: center;
}

.vertex-contents {
    font-size: .8em;
}
.vertex-ne-label, .vertex-nw-label {
    font-weight: bold;
}
.vertex-sw-label {
    font-style: italic;
}
path.edge.red {
    stroke: #FF7D7D;
}
path.edge.green {
    stroke: #92E894;
}