table.array {
  border-collapse: collapse;
  display: inline;
}
table.array td {
  margin: 0px;
  border-spacing: 0px;
  vertical-align: middle;
  text-align: center;
}
table.array tr.array-cells td {
  min-width: 24px;
}
table.array tr.array-indices td {
  font-size: 10px;
  color: #555555;
}
.indices-inside table.array tr.array-indices td,
table.array tr.array-cells td {
  border: 1px solid #888888;
  background-color: #eeeeee;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.indices-inside table.array tr.array-indices td.shaded,
table.array tr.array-cells td.shaded {
  background-color: #999999;
}
.indices-inside table.array tr.array-indices td.changed,
table.array tr.array-cells td.changed {
  -webkit-animation: background-highlight-pulse 0.6s ease-in-out;
  animation: background-highlight-pulse 0.6s ease-in-out;
}
.indices-inside table.array tr.array-indices td.array-title,
table.array tr.array-cells td.array-title {
  border: 0px;
  background: inherit;
  padding-right: 8px;
}
.indices-inside table.array tr.array-cells td {
  border-top-width: 0px;
}
.indices-inside table.array tr.array-indices td {
  border-bottom: 0px;
  text-align: left;
  padding-left: 2px;
}
table.pseudocode {
  border-collapse: collapse;
  display: inline;
}
table.pseudocode td {
  vertical-align: middle;
}
table.pseudocode td.pseudocode-title {
  font-style: italic;
  border-bottom: 1px solid black;
}
table.pseudocode td.pseudocode-line-number,
table.pseudocode td.pseudocode-gutter,
table.pseudocode td.pseudocode-text,
table.pseudocode td.pseudocode-comment {
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
table.pseudocode td.pseudocode-line-number {
  text-align: right;
  color: #555555;
  padding: 0 4px 0 4px;
  font-size: 10px;
  background: #eeeeee;
}
.no-line-numbers table.pseudocode td.pseudocode-line-number {
  display: none;
}
table.pseudocode td.pseudocode-gutter {
  width: 14px;
  background: #dddddd;
  text-align: center;
  vertical-align: middle;
}
.no-gutter table.pseudocode td.pseudocode-gutter {
  display: none;
}
table.pseudocode td.pseudocode-text {
  padding-right: 20px;
}
table.pseudocode td.pseudocode-comment {
  color: #888888;
  font-style: italic;
}
table.pseudocode td.pseudocode-comment,
table.pseudocode td.pseudocode-text {
  padding-left: 8px;
}
.no-gutter.no-line-numbers table.pseudocode td.pseudocode-comment,
.no-gutter.no-line-numbers table.pseudocode td.pseudocode-text {
  padding-left: 0px;
}
table.pseudocode .pseudocode-indent {
  width: 32px;
  display: inline-block;
}
table.pseudocode div.pseudocode-breakpoint {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #ff0000;
}
tr.pseudocode-active table.pseudocode div.pseudocode-breakpoint {
  background-color: #fc0000;
}
table.pseudocode tr.pseudocode-active td.pseudocode-text,
table.pseudocode tr.pseudocode-active td.pseudocode-comment {
  background-color: #fcfbbb;
}
table.pseudocode tr.pseudocode-active td.pseudocode-line-number {
  background-color: #ebeaaf;
}
table.pseudocode tr.pseudocode-active td.pseudocode-gutter {
  background-color: #dadaa2;
}
.graph-inner-container {
  position: absolute;
  width: inherit;
  height: inherit;
}
.vertex {
  width: 22px;
  height: 22px;
  text-align: center;
  padding: 0px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid #888888;
  background: #eeeeee;
  position: absolute;
  /*

    .vertex-tophalf, .vertex-bottomhalf, .vertex-righthalf, .vertex-lefthalf,
    .vertex-nwquad, .vertex-nequad, .vertex-swquad, .vertex-sequad {
        border: 1px solid black;
        position: absolute;
    }

    .vertex-tophalf, .vertex-bottomhalf {
        height: 50%;
        width: 100%;
    }
    .vertex-tophalf {
        border-width: 0 0 1px 0;
        top: 0px;
        left: 0px;
    }
    .vertex-bottomhalf {
        border-width: 1px 0 0 0;
        bottom: 0px;
        left: 0px;
    }

    .vertex-righthalf, .vertex-lefthalf {
        height: 100%;
        width: 50%;
    }
    .vertex-righthalf {
        border-width: 0 0 0 1px;
        top: 0px;
        right: 0px;
    }
    .vertex-lefthalf {
        border-width: 0 1px 0 0;
        top: 0px;
        left: 0px;
    }

    .vertex-swquad, .vertex-sequad, .vertex-nequad, .vertex-nwquad {
        height: 50%;
        width: 50%;
    }
    .vertex-swquad {
        border-width: 1px 1px 0 0;
        bottom: 0px;
        left: 0px;
    }
    .vertex-sequad {
        border-width: 1px 0 0 1px;
        bottom: 0px;
        right: 0px;
    }
    .vertex-nwquad {
        border-width: 0 1px 1px 0;
        top: 0px;
        left: 0px;
    }
    .vertex-nequad {
        border-width: 0 0 1px 1px;
        top: 0px;
        right: 0px;
    }

*/

}
.vertex .vertex-contents {
  display: table-cell;
  width: inherit;
  height: inherit;
  vertical-align: middle;
}
.vertex.ui-draggable {
  cursor: move;
}
.vertex.ui-draggable-dragging,
.vertex.vertex-drag-onto {
  -webkit-box-shadow: 5px 5px 10px #aaaaaa;
  -moz-box-shadow: 5px 5px 10px #aaaaaa;
  box-shadow: 5px 5px 10px #aaaaaa;
}
.vertex.vertex-drag-onto {
  cursor: default;
}
.vertex.vertex-deletable:hover {
  background: #f77f6f;
  -webkit-box-shadow: 5px 5px 10px #aaaaaa;
  -moz-box-shadow: 5px 5px 10px #aaaaaa;
  box-shadow: 5px 5px 10px #aaaaaa;
  cursor: crosshair;
}
.vertex.changed {
  -webkit-animation: background-highlight-pulse 0.6s ease-in-out;
  animation: background-highlight-pulse 0.6s ease-in-out;
}
.vertex.changed .vertex-nw-label,
.vertex.changed .vertex-ne-label,
.vertex.changed .vertex-sw-label,
.vertex.changed .vertex-se-label {
  -webkit-animation: none;
  animation: none;
}
.vertex .vertex-nw-label,
.vertex .vertex-ne-label,
.vertex .vertex-sw-label,
.vertex .vertex-se-label {
  position: absolute;
}
.vertex .vertex-nw-label {
  right: 85%;
  bottom: 85%;
}
.vertex .vertex-ne-label {
  left: 85%;
  bottom: 85%;
}
.vertex .vertex-sw-label {
  right: 85%;
  top: 85%;
}
.vertex .vertex-se-label {
  left: 85%;
  top: 85%;
}
#vamonos-slider.ui-slider {
  height: 8px;
  position: relative;
  text-align: left;
  border: 1px solid #bbbbbb;
  background: #eeeeee;
  display: inline-block;
  width: 200px;
  margin: 0 4px 0 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#vamonos-slider.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  cursor: default;
  border: 1px solid #888888;
  background: #bbbbbb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 2px 2px 2px #bbbbbb;
  -moz-box-shadow: 2px 2px 2px #bbbbbb;
  box-shadow: 2px 2px 2px #bbbbbb;
  width: 8px;
  height: 16px;
  top: -5px;
  margin-left: -5px;
}
.inactive #vamonos-slider.ui-slider {
  width: 0px;
  border-width: 0px;
  margin: 0px;
}
.inactive #vamonos-slider.ui-slider .ui-slider-handle {
  display: none;
}
.inactive #vamonos-framenumber {
  display: none;
}
table.matrix {
  border-collapse: collapse;
}
table.matrix td,
table.matrix th {
  text-align: center;
  vertical-align: middle;
  padding: 4px;
}
table.matrix td {
  background-color: #eeeeee;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
table.matrix td.changed {
  -webkit-animation: background-highlight-pulse 0.6s ease-in-out;
  animation: background-highlight-pulse 0.6s ease-in-out;
}
table.matrix td.shaded,
table.matrix td.shaded.row-highlight,
table.matrix td.shaded.col-highlight,
table.matrix td.shaded.row-highlight.col-highlight {
  background-color: #999999;
}
table.matrix td.row-highlight,
table.matrix td.col-highlight {
  background-color: #dddddd;
}
table.matrix td.col-highlight.row-highlight {
  background-color: #bbbbbb;
}
table.matrix th {
  font-weight: normal;
  color: #555555;
  font-size: 10px;
}
table.matrix th {
  border-right: 1px solid #888;
}
table.matrix tr.matrix-label-row th {
  border-bottom: 1px solid #888;
  border-right-width: 0px;
}
table.matrix tr.matrix-label-row th:first-child {
  border-bottom-width: 0px;
}
table.matrix tr:last-child td {
  border-bottom: 1px solid #888;
}
table.matrix tr td:last-child {
  border-right: 1px solid #888;
}
@-webkit-keyframes background-highlight-pulse {
  0% {
    background: default;
    color: default;
  }
  20% {
    background: #fcfbbb;
    color: #ff0000;
  }
  100% {
    background: default;
    color: default;
  }
}
@keyframes background-highlight-pulse {
  0% {
    background: default;
    color: default;
  }
  20% {
    background: #fcfbbb;
    color: #ff0000;
  }
  100% {
    background: default;
    color: default;
  }
}
