.container {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

h1 { margin: 32px 0 0 0; }
h1:first-child { margin: 0px; }

