
table.array {
    border-collapse: collapse;
    display: inline;
    vertical-align: text-bottom;
}
table.array td, table.array tr {
    margin: 0px;
    border-spacing: 0px;
}

.array-indices td, .array-cells td {
    border: 1px solid #888;
    background-color: #eee;
}

.array-cells td {
    border-top-width: 0px;
    min-width: 24px;
    text-align: center;
}

.array-indices td {
    border-bottom-width: 0px;
    font-size: 9px;
    padding-left: 3px;
    color: #555;
}

.array-annotations td {
    text-align: center;
    font-style: italic;
}

/********************/


.indices-above .array-indices td {
    border-width: 0px;
    background: inherit;
    text-align: center;
    padding: 0px;
    font-size: 10px;
}

.indices-above .array-cells td {
    border-top-width: 1px;
}


/********************/

.array-cells td.shaded, .array-indices td.shaded {
    background-color: #aaa;
}
.array-cells td.shaded {
    color: #555;
}
.indices-above .array-indices td.shaded {
    background-color: inherit;
}

/*********************/

.array-indices td.array-title, .array-cells td.array-title {
    border: 0px;
    background: inherit;
    padding-right: 8px;
}


/**********************/

.array-cells td.changed, .array-indices td.changed {
    -webkit-animation: array-changed 0.6s linear;
    animation: array-changed 0.6s linear;
}
.indices-above .array-indices td.changed {
    -webkit-animation: none;
    animation: none;
}
@-webkit-keyframes array-changed {
    0% { background: default; color: default; }
    20% { background: #ed8; color: red; }
    100% { background: default; color: default; }
}
@keyframes array-changed {
    0% { background: default; color: default; }
    20% { background: #ed8; color: red; }
    100% { background: default; color: default; }
}
