table.array {
  border-collapse: collapse;
  display: inline;
  vertical-align: text-bottom;
}
table.array td,
table.array tr {
  margin: 0px;
  border-spacing: 0px;
}
table.array tr.array-indices td,
table.array tr.array-cells td {
  border: 1px solid #888888;
  background-color: #eeeeee;
}
table.array tr.array-indices td.shaded,
table.array tr.array-cells td.shaded {
  background-color: #aaaaaa;
}
table.array tr.array-indices td.changed,
table.array tr.array-cells td.changed {
  -webkit-animation: background-highlight-pulse 0.6s ease-in-out;
  animation: array-changed 0.6s ease-in-out;
}
table.array tr.array-indices td.array-title,
table.array tr.array-cells td.array-title {
  border: 0px;
  background: inherit;
  padding-right: 8px;
}
table.array tr.array-cells td {
  border-top-width: 0px;
  min-width: 24px;
  text-align: center;
}
table.array tr.array-indices td {
  border-bottom-width: 0px;
  font-size: 9px;
  padding-left: 3px;
  color: #555555;
}
table.array tr.array-annotations td {
  text-align: center;
  font-style: italic;
}
.indices-above table.array tr.array-indices td {
  border-width: 0px;
  background: inherit;
  text-align: center;
  padding: 0px;
  font-size: 10px;
}
.indices-above table.array tr.array-indices td.shaded {
  background-color: inherit;
}
.indices-above table.array tr.array-indices td.changed {
  -webkit-animation: none;
  animation: none;
}
.indices-above table.array tr.array-cells td {
  border-top-width: 1px;
}
table.pseudocode {
  border-collapse: collapse;
  display: inline;
  vertical-align: middle;
}
table.pseudocode td.pseudocode-title {
  font-style: italic;
  border-bottom: 1px solid black;
}
table.pseudocode td.pseudocode-line-number {
  text-align: right;
  color: #555555;
  padding: 0 4px 0 4px;
  font-size: 10px;
  background: #eeeeee;
}
table.pseudocode td.pseudocode-gutter {
  width: 14px;
  background: #dddddd;
  text-align: center;
  vertical-align: middle;
}
table.pseudocode .pseudocode-indent {
  width: 32px;
  display: inline-block;
}
table.pseudocode td.pseudocode-comment {
  color: #888888;
  font-style: italic;
  padding-left: 8px;
}
table.pseudocode td.pseudocode-text {
  padding-right: 20px;
  padding-left: 8px;
}
table.pseudocode div.pseudocode-breakpoint {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #ff0000;
}
table.pseudocode tr.pseudocode-active .pseudocode-breakpoint {
  background-color: #f30000;
}
table.pseudocode tr.pseudocode-active td.pseudocode-text,
table.pseudocode tr.pseudocode-active td.pseudocode-comment {
  background-color: #f3faa7;
}
table.pseudocode tr.pseudocode-active td.pseudocode-line-number {
  background-color: #e3e99c;
}
table.pseudocode tr.pseudocode-active td.pseudocode-gutter {
  background-color: #d3d991;
}
.no-gutter table.pseudocode td.pseudocode-gutter {
  display: none;
}
.no-line-numbers table.pseudocode td.pseudocode-line-number {
  display: none;
}
@-webkit-keyframes background-highlight-pulse {
  0% {
    background: default;
    color: default;
  }
  20% {
    background: #f3faa7;
    color: #ff0000;
  }
  100% {
    background: default;
    color: default;
  }
}
@keyframes background-highlight-pulse {
  0% {
    background: default;
    color: default;
  }
  20% {
    background: #f3faa7;
    color: #ff0000;
  }
  100% {
    background: default;
    color: default;
  }
}
